<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="/css/site.css">
    <title>Mark's Job Listing - About</title>
    
</head>
<hr>
<nav>
    <a href="/"><b>Home</b></a> | <a href="/about"><b>About</b></a> |
     <a href="/location"><b>Locations</b></a> | <a href="/employer"><b>Employers</b></a> |
     <a href="/job"><b>Job List</b></a> | <a href="/contact"><b>Contact</b></a>
</nav>
    
    <hr>
<body>
    <h1>About</h1>
    <p>This porfilio app tries to make use of all the things we've learnt so far:</p>
    <ol>
        <li>Node</li>
        <li>Express</li>
        <li>Routing</li>
        <li>XMLHttpRequest</li>
        <li>modules/packages</li>
        <li>Forms/post</li>
        <li>Json data</li>
        <li>callback</li>
        <li>eventListener</li>
        <li>object/arrays</li>
        <li>Git</li>
    </ol>

    <p>To run type: npm run dev</p>
    <p>Run git log & git status to check git usage</p>

    <p>This app have 5 page routes, 5 api endpoints and 1 from handing route</p>
    
    <footer>
        <hr>
        Copyright ©2020 | Powered by <a href="https://expressjs.com/">Express</a>  
        
    </footer>
</body>
</html>