body {
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    width: 60%;
}

.my-img {
    height: 250px;
    width: 250px;
}

.logo-img {
    height: 60px;
    width: 90px;
}

footer {
    margin-top: 100px;
}